//Front Page Edits

//Navbar Edits

a.name.navbar-brand {
    font-size: 24px;
}

a.logo.navbar-btn {
    padding-top: 17px;
}

@media (max-width: 768px) {
  .logo img.img-circle {
    width: 70%;
  }
}

.navbar-shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar {
    background-color: #fff;
}

.navbar-toggle {
  border-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
}

#navbar {
  background-image: url('../full_mountain.jpeg');
  background-size: cover;
  height: 240px;
}

a.name.navbar-brand {
    font-size: 28px;
}

img.img-circle {
    border-style: solid;
    border-width: 3px;
}

@media (max-width: 769px) {
  li.leaf {
      text-align: left;
  }
}

@media (min-width: 769px) {

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #333;
  background-color: transparent;
}
}

@media (max-width: 768px) {
  // .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  //   border-color: #e7e7e7;
  //   background: #e7e7e7;
  // }
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
      color: #333;
      background-color: #ccc;
  }
  ul.secondary {
      float: none;
      text-align: center;
  }
}
